body{
    background-color:#013B1A ;
}


.body_cadastro{
display: flex;

}


.class_gif{
margin-left: - 13%;

}

/* 
titulo cadastro */
.titulo_cadastro{
  color: #FFBD59 ;
  margin-top: 2%;
  margin-left: 14%;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  font-size: -webkit-xxx-large;
}


/* box do caastro */
.section_cadastro{
  width: 267px;
  height: 200px;
  margin-left: -19%;
  margin-top: 9%;
}

/* 
inputs do cadastro */
.inputs{  
height: 22%;
width: 105%;
border-radius: 30px;
background-color: #192646;
border-color:#FFBD59 ;
font-family: " Tiro Devanagari Sanskrit', serif;"
}


/* titulo dos campos */
.tipo_campo{
  background-color: #013B1A;
  color: #FFBD59 ;
margin-left: 20px;
font-family: " Tiro Devanagari Sanskrit', serif;"
}


 /* botão */
.btn{
  height: 22%;
width: 105%;
color: #FFBD59;
background-color:#192646 ;
border-radius: 20px;
border-color:#FFBD59 ;
font-family: " Tiro Devanagari Sanskrit', serif;"
}


/* posição da barra de navegação */


  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 55%;
  }

  .navbar  /* barra de navegação*/ {
  width: 300px;
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FFBD59;
  font-family: " Tiro Devanagari Sanskrit', serif;"
}

a{
  color:inherit;
   /* ele herda a cor que você definiu */}
   
   .titulo {
    width: 150px;
    /* height: 100px; */
  }

  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  .tamanho-conteudo { 
    height: fit-content !important;
  }
  /* gif di cadastro */
  #img_cadastro{
    margin-top: 4% ;
    margin-left: 29%; 
  }