
a{
  color:inherit;
   /* ele herda a cor que você definiu */
}
  
/* titulo do login */
.login {
  height: 12%;
  color: #FFBD59;
  margin-top: 3%;
  margin-left: 20%;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  font-size: xx-large;
}


/* box do login */
.section_login{
  width: 290px;
  height: 57px;
  margin-left: -96%;
  margin-top: 65%
}

/* 
inputs do login */
.inputs{  
  height: 105%;
  width: 127%;
  border-radius: 30px;
  background-color: #192646;
  border-color:#FFBD59 ;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  font-size: larger;

  }

  /* titulo dos campos */
.tipo_campo{
  background-color: #013B1A;
  color: #FFBD59 ;
margin-left: 20px;
font-family: " Tiro Devanagari Sanskrit', serif;";
font-size: 156%;
}


 /* botão */
.btn{
height: 115%;
width: 133%;
color: #FFBD59;
background-color:#192646 ;
border-radius: 30px;
border-color:#FFBD59 ;
font-family: " Tiro Devanagari Sanskrit', serif;";
font-size: larger;

}

.body_login{
display: flex;
}

.gif_login{

  margin-left: - 13%;
}

.inputs_login{
  margin-left: 12%;
}
img{
  width: 131%;
  margin-left: 8%;
}