body{
    background-color:#013B1A ;
}


.container_header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 55%;
  }

.header {
    border-bottom: 4px solid #FFBD59;
    display: flex;
  }



  .container_header {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 55%;
  }

  .header .container_header {
    justify-content: space-between;
 
  }


  .navbar {
      margin-left: 345%;
      font-size: 130%;
      width: 153%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      color: #FFBD59;
      height: 73%
}

a{
  color:inherit;
   /* ele herda a cor que você definiu */}
   
   .titulo {
    width: 197px;
    margin-left: 0%
  }