
a{
  color:inherit;
   /* ele herda a cor que você definiu */
}
  
/* titulo do login */
.login {
  height: 0%;
    color: #FFBD59;
    margin-top: 0%;
    margin-left: 0%;
    font-family: " Tiro Devanagari Sanskrit', serif;";
    font-size: x-large;
}


/* box do login */
.section_login{
  width: 100px;
  height: 100px;
  margin-left: 0%;
  margin-top: 0%;
}

/* 
inputs do login */
.inputs{  
  height: 30%;
  width: 191%;
  border-radius: 10px;
  background-color: #192646;
  border-color:#FFBD59 ;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  font-size: larger;

  }

  /* titulo dos campos */
.tipo_campo{
  background-color: #013B1A;
  color: #FFBD59 ;
margin-left: 0px;
font-family: " Tiro Devanagari Sanskrit', serif;";
font-size: 0%;
}


 /* botão */
.btn{
  height: 44%;
  width: 175%;
color: #FFBD59;
background-color:#192646 ;
border-radius: 10px;
border-color:#FFBD59 ;
font-family: " Tiro Devanagari Sanskrit', serif;";
font-size: larger;

}

.body_login{
display: flex;
}

.gif_login{

  margin-left: 0%;
}

.inputs_login{
  margin-left: 0%;
}
img{
  width: 0%;
  margin-left: 0%;
}