.corpo{
  height: 82vh;
}
#img_body{
  width: 22vw;
}

.container_corpo{
  display: flex;
  flex-direction: row;
}

.imagem_corpo{
  margin: 10vh 10vw ;
}

.frase_corpo{
  margin: 10vh 10vw 0 0;
  flex-wrap: wrap;
  font-size: 7vh;
  text-align: center;
  padding-top: 6vh;
  font-family:'Times New Roman', Times, serif;
  color: #DC9623;
  font-weight: bold;

}

.cards {
  display: flex;
  flex-direction: row;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  color: #DC9623;

}

/* titulo das frasa */
#missao{
  font-family: " Tiro Devanagari Sanskrit', serif;";
  color: #DC9623;
  font-size: xx-large;
  align-items: center;
  margin-left: 35%;
}
#vissao{
  font-family: " Tiro Devanagari Sanskrit', serif;";
  color: #DC9623;
  align-items: center;
  font-size: xx-large;
  margin-left: 35%;
  margin-top: -1%
}

#valores{
  font-family: " Tiro Devanagari Sanskrit', serif;";
  color: #DC9623;
  align-items: center;
  font-size: xx-large;
  margin-left: 35%;

}

/* frases */
.card_dois_frase{
font-size: larger;
font-size: 159;
font-family: " Tiro Devanagari Sanskrit', serif;";
width: 47%;
margin-left: 30%;

}

.card_tres_frase{

  font-size: x-large;
  font-family: " Tiro Devanagari Sanskrit', serif;";
  margin-left: 32%;
  
  
  }
  .card_um_frase{

    font-size: x-large;
    font-family: " Tiro Devanagari Sanskrit', serif;";
    margin-left: 29%;
    width: 45%
    }




.card1{
  background: #013B1A;
    border-radius: 20px;
    padding: 1vh;
    width: 61%;
    font-family: " Tiro Devanagari Sanskrit', serif;";
    color: #DC9623;
}


  .card2
 {
    background: #013B1A;
    width: 60%;
    height: 82%;
    margin: 2vw;
    border-radius: 20px;
    padding: 1vh;
    font-family: " Tiro Devanagari Sanskrit', serif;";
    color: #DC9623;
    align-items: center;
    font-size: larger;
  }

    .card3 {
      background: #013B1A;
      width: 69%;
      height: 42vh;
      margin: 2vw;
      border-radius: 20px;
      padding: 1vh;
      font-family: " Tiro Devanagari Sanskrit', serif;";
      color: #DC9623;
      align-items: center;
    font-size: larger;
    }


.card_um_img {
  width: 18vw;
  margin-left: 21%;

}

.card_dois_img {
  width: 18vw;
  margin-left: 17%;
}

.card_tres_img {
  width: 18vw;
  margin-left: 21%;
}
