.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 55%;
}

.dash {
    height: 80%;
    width: 50%;
    background-color: #192646;
    border-color: aliceblue;
    border-radius: 2%;
}

.btn-chart {
    width: 10%;
    height: 10%;
    background-color: #192646;
    border-radius: 6px;
    border-color: #FFBD59;
}

.graph {
    border-Color: "#FFBD59",

}

.ultima{
display: flex;
}

.class_input_body {
    color: white;
    font-size: 116%;
    margin-left: 24%;
    margin-top: 2%;
    background-color: #192646;
    border-radius: 6px;
    border-color: #FFBD59;

}

.btn_pqs {
    margin-top: 2%;
    width: 8%;
    background-color: #192646;
    border-radius: 6px;
    border-color: #FFBD59;
    font-size: 120%;
}

.btn-logout {
    display: flex;
    margin-top: 0%;


}